.page .position {
	font-weight:bold;
}
.page.row.ui-sortable-helper {
	border: 1px dashed #E7C254;
}
.page .path {
	width:150px;
}
.page .title {
	width:150px;
}
.page .menu {
	width:150px;
}
.page .manage {
	text-align:right;
}
